[bumpversion]
current_version = 0.0.7
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

[bumpversion:file:./odoo/addons/demo_all/__manifest__.py]

[bumpversion:file:./odoo/addons/demo_all/data/web_environment_ribbon.xml]
